/* hind-madurai-300 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/hind-madurai-v6-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/hind-madurai-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/hind-madurai-v6-latin-300.svg#HindMadurai') format('svg'); /* Legacy iOS */
}
/* hind-madurai-regular - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-madurai-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/hind-madurai-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/hind-madurai-v6-latin-regular.svg#HindMadurai') format('svg'); /* Legacy iOS */
}
/* hind-madurai-600 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-madurai-v6-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/hind-madurai-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/hind-madurai-v6-latin-600.svg#HindMadurai') format('svg'); /* Legacy iOS */
}
/* hind-madurai-500 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-madurai-v6-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/hind-madurai-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/hind-madurai-v6-latin-500.svg#HindMadurai') format('svg'); /* Legacy iOS */
}
/* hind-madurai-700 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-madurai-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/hind-madurai-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/hind-madurai-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/hind-madurai-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/hind-madurai-v6-latin-700.svg#HindMadurai') format('svg'); /* Legacy iOS */
}

/* fredoka-one-regular - latin */
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fredoka-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/fredoka-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fredoka-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/fredoka-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fredoka-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fredoka-one-v8-latin-regular.svg#FredokaOne') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v29-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v29-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v29-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/roboto-v29-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v29-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v29-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v29-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v29-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}



*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px;
    padding-left: 47px;
    padding-right: 47px;
    margin-left: auto;
    margin-right: auto;
}
img{
    vertical-align: middle;
}
.hero{
    background-color: #F2CEDA;
    width: 100%;
    height: 862px;
    margin-top: -10px;
    margin-bottom: 122px;
}
.button{
    width: 165px;
    height: 49px;
    background-color:#D23166;
    border: none;
    color: white;
    border-radius: 10px;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 0.6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.item{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}
.item1{
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
    text-decoration: none;
}

.item:hover{
    color: #D23166;
    opacity: 1;
    transition: all 0.3s ease;
}

.sweet{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.feel{
    margin-top: -6px;
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    width: 665px;
    margin-bottom: 35px;
}

.some{
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    width: 573px;
    height: 78px;
    margin-bottom: 50px;
}

.left{
    width: 665px;
    height: 364px;
}

.red{
    color: #D23166;
}
.left{
    margin-top: 174px;
}
.right{
    background-image: url("./../images/fruits_icecream.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 894px;
    margin-top: 15px;
    height: 742px;
    margin-left: -150px;
}
.ice_cream{
    display: flex;
    justify-content: space-between;
}

.four_list{
    list-style-type: none;
    display: flex;
}

.four{
    margin-left: 52px;
}
.four_item{
    width: 250px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four_item:hover{
    border: none;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
}
.four_text{
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 198px;
}
.heding_three{
    font-family: "Hind Madura"i;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.norm{
    margin-left: 20px;
    margin-right: 20px;
}
.kivi_left{
    width: 422px;
    height: 256px;
    margin-top: 50px;
    margin-left: 80px;
}
.kivi_heding{
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    width: 349px;
}
.kivi_text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}
.kivi_right{
    background-image: url("./../images/icecreamshadow.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 555px;
    height: 556px;
    margin-top: -50px;
}
.kivi .container{
    display: flex;
    justify-content: space-between;
}
.kivi{
    background-color: #F8EDF0;
    width: 100%;
    height: 544px;
}
.our_list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 887px;
    margin-left: 175px;
}
.our_item{
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}
.our_item1{
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border-bottom: 1px solid #D23166;
}
.our{
    margin-top: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_item:hover{
    border-bottom: 1px solid #D23166;
    opacity: 1;
    transition: all 0.3s ease;
}
.brown_one{
    display: flex;
    justify-content: space-between;
}
.brown_heding{
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}
.brown_text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    width: 430px;
    height: 67px;
}
.brown_right{
    margin-right: 75px;
    margin-top: 55px;
    text-align: left;
}
.brown_four{
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}
.brown_dell{
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}
.brown_one:nth-child(even){
    flex-direction: row-reverse;
}
.brown_right:nth-child(even){
    text-align: right;
}
.choco_flex{
    display: flex;
    justify-content: space-between;
    width: 259px;
    height: 58px;
}
.more{
    width: 300px;
    height: 85px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}
.choco_list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 253px;
    height: 65px;
    margin-top: 39px;
}
.adele_text{
    margin-top: -30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
    margin-left: -110px;
}
.adele{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.choco_left-text{
    margin-top: -30px;
}
.choco_span{
    color: #fa6813;
    opacity: 1;
    font-size: 25px;
}
.choco_item1{
    color: #D64374;
}
.choco_item12{
    opacity: 0.5;
    color: #D64374;
}
.choco_item2{
    margin-top: -10px;
}
.choco_left{
    margin-top: 205px;
    margin-left: 50px;
}
.choco .container{
    display: flex;
    justify-content: space-between;
}
.choco_right{
    margin-top: 100px;
}
.simple_way .container{
    display: flex;
    justify-content: space-between;
}
.simple_right-heading{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;

}
.simple_right{
    margin-top: 170px;
}
.simple_right-text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    width: 607px;
    height: 60px;
}
.simple_item-lis{
    display: flex;
    justify-content: space-between;
    width: 192px;
    height: 26px;
}
ul{
    list-style-type: none;
}
.add{
    padding-right: 30px;
}
.simple_way{
    background-color: #F8EDF0;
    height: 678px;
    margin-bottom: 161px;
}
.simple_list{
    margin-left: -76px;
}
.simple_lis-item{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    color: #000000;
}
.simple_left{
    margin-top: 110px;
}
.play{
    background-color: none;
    border: none;
}
.play:hover{
    opacity: 0.8;
}
.play:active{
    opacity: 0.6;
}
.have_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    width: 522px;
    height: 123px;
    margin-left: 380px;
}
.phone_number{
    width: 303px;
    height: 74px;
    border: 1px solid #D23166;
    opacity: 0.6;
    margin-bottom: 37px;
}
.phone_number:nth-child(even){
    margin-left: 27px;
}
.klik{
    margin-left: 340px;
}
.enter{
    width: 503px;
    height: 74px;
    margin-left: 340px;
    border: 1px solid #D23166;
    opacity: 0.6;
}
.klon{
    display: flex;

}
.button_send{
    width: 134px;
    height: 74px;
    background-color: #D23166;
    border: none;
    color: white;
}
.footer{
    width: 100%;
    height: 381px;
    background-color: #0A0808;
    margin-top: 71px;
}
.footer_one2{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    width: 207px;
    height: 47px;
}
.fllow{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 25px;
}
/* .footer_one-logo{
    margin-top: 70px;
} */
.footer_list11{
    display: flex;
    justify-content: space-between;
}
.blog_item{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
    padding-bottom: 10px;
}
.blog_item1{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 10px;
}
.blog_item:hover{
    opacity: 1;
}
.footer_item{
    margin-top: 70px;
}
.jing{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.niom{
    width: 263px;
    height: 55px;
    background-color: #0A0808;
    color: #FFFFFF;
    border: 1px solid #D23166;
}
.button_send2{
    width: 125px;
    height: 55px;
    border: none;
    background-color: #D23166;
    color: #FFFFFF;
    margin-left: -8px;
    border-radius: 10px;
}
.footer_item32{
    margin-top: 150px;
}
.pay{
    margin-top: 15px;
}